.header{
    display: flex;
    width: 100%;
    height:20vh;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.logo{
    width: 100%;
    height: 100%;
    background-image: url("../../public/logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

titulo-header{
    text-align: center;
}

@media screen and (max-width: 768px) {
    .header{
        height: 25vh;
    }
    
}